@model Lanche

<div class="container mt-1">
    <div class="row">
        <div class="card">
            <div class="text-center view card-img-overlay hm-white-slight">
                <img src="@Model.ImagemUrl" class="img-fluid" alt="" />
                <a href="#">
                    <div class="mask waves-effect waves-live"></div>
                </a>
            </div>
            <div class="card-body">
                <h2 class="card-title">@Model.Nome</h2>
                <p class="card-text"><h3>@Model.DescricaoDetalhada</h3></p>
                <p class="btn btn-group justify-content-end">
                    <a asp-controller="Lanche" asp-action="List" class="btn btn-info">Ver Todos os Lanches</a>
                    <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                        Adicionar @Model.Nome ao carrinho
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>